/* Reset some default styles */
/* body,
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
} */

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.site {
  flex: 1;
}

.header {
  background-color: #333;
  color: #fc7f20;
  padding: 10px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.header h1 {
  margin: 0;
  padding: 0;
  font-size: 1.5rem;
  font-weight: 900;
}

.header a {
  color: #fc7f20;
  text-decoration: none;
  margin: 0 10px;
}

#slogan {
  font-style: italic;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: #f0f0f0;
}

#logo {
  background-color: #f0f0f0;
  padding: 3px 20px;
  border-radius: 10px 50px 10px 50px;
  box-shadow: 5px 10px 50px;
}

#logout {
  background-color: #f0f0f0;
  text-decoration: none;
}

#logout:hover {
  background-color: #fc7f20;
  text-decoration: none;
}

.nav {
  margin-top: 10px;
}

.nav a {
  color: #f0f0f0;
  text-decoration: none;
  margin: 0 10px;
}

.nav a:hover {
  color: #fc7f20;
  text-decoration: underline;
  margin: 0 10px;
}

/* Styles for the Search Form */
.search-container {
  margin-top: -300px;
  text-align: center;
}

#search-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#search-keywords,
#search-location {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
}

#search-keywords {
  width: 350px;
}

#search-location {
  width: 200px;
}

#search-form button {
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
}

#search-form button:hover {
  background-color: #fc7f20;
}

.job-listing-container {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.job-title {
  font-size: 24px;
  margin-bottom: 10px;
}

.job-info {
  font-size: 14px;
  margin-bottom: 10px;
}

.job-description {
  font-size: 16px;
}

.container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

textarea#message.form-control {
  width: 400px;
  height:150px;
}

.footer {
  background-color: #333;
  color: #fc7f20;
  text-align: center;
  padding: 10px 0;
}

#footer-links a {
  color: #f0f0f0;
  text-decoration: none;
  margin: 0 10px;
}

#footer-links a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  header {
    text-align: center;
  }

  /* Styles for the Search Form */
  .search-container {
    margin-top: -250px;
    text-align: center;
  }

  #search-keywords {
    width: 350px;
    margin: 5px;
  }

  /* Styles for job listings */
  .job-listing-container {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 20px;
    background-color: #fff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s; 
  }

  .job-listing {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
  }

  /* Style job title links */
  .job-listing h2 a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
  }

  .job-listing h2 a:hover {
    color: #fc7f20;
  }

  textarea#message.form-control {
   max-width: 350px;
   max-height:150px;
  }
}

